<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>menu calendar</title>
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <script type="text/x-template" id="modal-template">
      <transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-container">
              <div class="modal-header">
                <slot name="header">
                </slot>
              </div>
              <div class="modal-body">
                <slot name="body">
                </slot>
              </div>
              <div class="modal-footer">
                <slot name="footer">
                </slot>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </script>

    <div id="app">

  		<modal v-if="showModal">
        <div slot="header">
          {{ selectedDay }}
        </div>
        <div slot="body">
          <h2>Menus</h2>
          <input type="text" v-model="menuText"/><button @click="addMenu">add</button>
          <ul>
            <li v-for="menu,idx in modalMenus">
              {{ menu }}<button @click="delMenu(idx)">X</button>
            </li>
          </ul>
          <h2>Materials</h2>
          <input type="text" v-model="materialText"/><button @click="addMaterial">add</button>
          <ul>
            <li v-for="material,idx in modalMaterials">
              {{ material }} <button @click="delMaterial(idx)">X</button>
            </li>
          </ul>
        </div>
        <div slot="footer">
          <button @click="closeModal">close</button>
        </div>
  		</modal>

      <table class="calendar">
        <thead>
          <tr>
            <th class="day">日</th>
            <th class="day">月</th>
            <th class="day">火</th>
            <th class="day">水</th>
            <th class="day">木</th>
            <th class="day">金</th>
            <th class="day">土</th>
          </tr>
        </thead>
        <tbody>
          <tr><td class="day" v-for="item in weekItems(1)" :id="item.date" @click="select" @dblclick="dbl">{{ item.date.substr(6,2) }}</td></tr>
          <tr><td class="day" v-for="item in weekItems(2)" :id="item.date" @click="select" @dblclick="dbl">{{ item.date.substr(6,2) }}</td></tr>
          <tr><td class="day" v-for="item in weekItems(3)" :id="item.date" @click="select" @dblclick="dbl">{{ item.date.substr(6,2) }}</td></tr>
          <tr><td class="day" v-for="item in weekItems(4)" :id="item.date" @click="select" @dblclick="dbl">{{ item.date.substr(6,2) }}</td></tr>
          <tr><td class="day" v-for="item in weekItems(5)" :id="item.date" @click="select" @dblclick="dbl">{{ item.date.substr(6,2) }}</td></tr>
          <tr><td class="day" v-for="item in weekItems(6)" :id="item.date" @click="select" @dblclick="dbl">{{ item.date.substr(6,2) }}</td></tr>
        </tbody>
      </table>

      <div>
        <button @click="copyToggle">Copy</button>
        {{ copyMsg }}
      </div>

      <div>
        {{ selectedDay }}
        <div class="menusArea">
          <ul>
            <li v-for="menu in selectedMenus">{{ menu }}</li>
          </ul>
        </div>
        <div class="materialsArea">
          <ul>
            <li v-for="material in selectedMaterials">{{ material }}</li>
          </ul>
        </div>
      </div>

    </div>

  </body>
  <script src="/javascripts/Sortable.min.js"></script>
  <script src="/javascripts/vue.min.js"></script>
  <script src="/javascripts/vuedraggable.min.js"></script>
  <script src="/javascripts/axios.min.js"></script>
  <script src="/javascripts/index.js"></script>
</html>
