<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>menu calendar</title>
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/petal.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <script type="text/x-template" id="modal-template">
      <transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-container">
              <div class="modal-header">
                <slot name="header">
                </slot>
              </div>
              <div class="modal-body">
                <slot name="body">
                </slot>
              </div>
              <div class="modal-footer">
                <slot name="footer">
                </slot>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </script>

    <div id="app" class="main">

  		<modal v-if="showModal">
        <div slot="header">
          <h6>{{ selectedDay }}</h6>
        </div>
        <div slot="body">
          <hr>
          <h6>メニュー</h6>
          <input type="text" v-model="menuText"/><button @click="addMenu">add</button>
          <ul>
            <li v-for="menu,idx in modalMenus">
              {{ menu }}<button @click="delMenu(idx)">X</button>
            </li>
          </ul>
          <hr>
          <h6>材料</h6>
          <input type="text" v-model="materialText"/><button @click="addMaterial">add</button>
          <ul>
            <li v-for="material,idx in modalMaterials">
              {{ material }} <button @click="delMaterial(idx)">X</button>
            </li>
          </ul>
        </div>
        <div slot="footer">
          <button @click="closeModal">close</button>
        </div>
  		</modal>

      <div>
      
        <table class="calendar">
          <thead>
            <tr>
              <th class="week"></th>
              <th class="day">日</th>
              <th class="day">月</th>
              <th class="day">火</th>
              <th class="day">水</th>
              <th class="day">木</th>
              <th class="day">金</th>
              <th class="day">土</th>
            </tr>
          </thead>
          <tbody>
            <tr><td class="week" @click="clickWeek(1)">1W</td><td class="day" v-for="item in weekItems(1)" :id="item.date" @click="select">{{ item.date.substr(6,2) }}</td></tr>
            <tr><td class="week" @click="clickWeek(2)">2W</td><td class="day" v-for="item in weekItems(2)" :id="item.date" @click="select">{{ item.date.substr(6,2) }}</td></tr>
            <tr><td class="week" @click="clickWeek(3)">3W</td><td class="day" v-for="item in weekItems(3)" :id="item.date" @click="select">{{ item.date.substr(6,2) }}</td></tr>
            <tr><td class="week" @click="clickWeek(4)">4W</td><td class="day" v-for="item in weekItems(4)" :id="item.date" @click="select">{{ item.date.substr(6,2) }}</td></tr>
            <tr><td class="week" @click="clickWeek(5)">5W</td><td class="day" v-for="item in weekItems(5)" :id="item.date" @click="select">{{ item.date.substr(6,2) }}</td></tr>
            <tr><td class="week" @click="clickWeek(6)">6W</td><td class="day" v-for="item in weekItems(6)" :id="item.date" @click="select">{{ item.date.substr(6,2) }}</td></tr>
          </tbody>
        </table>
      </div>

      <hr>

      <div class="buttons">
        <!--
        <div>
          <button disabled class="btn">Prev</button>
          <button disabled class="btn">Next</button>
        </div>
        -->
        <div>
          <button class="btn compact" @click="editBtnClick">Edit</button>
          <button class="btn compact" @click="copyBtnClick">Copy</button>
        </div>
        <p>{{ msg }}</p>
      </div>

      <hr>

      <div>
        <h5>年月日[{{ selectedDay }}]</h5>
        <div class="menusArea">
          <h6>メニュー</h6>
          <span v-for="menu in selectedMenus">[{{ menu }}]</span>
        </div>
        <div class="materialsArea">
          <h6>材料</h6>
          <span v-for="material in selectedMaterials">[{{ material }}]</span>
        </div>
      </div>

      <hr>

      <div>
        <h5>選択週[{{ selectedWeek }}]の材料</h5>
        <span v-for="week in materialWeek">[{{ week }}]</span>
      </div>

    </div>

  </body>
  <script src="/javascripts/vue.min.js"></script>
  <script src="/javascripts/axios.min.js"></script>
  <script src="/javascripts/index.js"></script>
</html>
