<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>献立カレンダー</title>
    <link rel='stylesheet' href='stylesheets/normalize.css' />
    <link rel='stylesheet' href='stylesheets/petal.min.css' />
    <link rel='stylesheet' href='stylesheets/style.css' />
    <link rel="apple-touch-icon" href="/menucalendar/favicon.ico" />
  </head>
  <body>

    <script type="text/x-template" id="modal-template">
      <transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-container">
              <div class="modal-header">
                <slot name="header">
                </slot>
              </div>
              <div class="modal-body">
                <slot name="body">
                </slot>
              </div>
              <div class="modal-footer">
                <slot name="footer">
                </slot>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </script>

    <div id="app" class="main">

  		<modal v-if="showModal">
        <div slot="header">
          <h2>{{ selectedDay }}</h2>
        </div>
        <div slot="body">
          <hr>
          <div class="input-group">
            <label class="input-addon" for="menuText">献立</label>
            <input type="text" v-model="menuText" id="menuText" class="input input-text"/>
            <button @click="addMenu" class="btn">追加</button>
          </div>
          <p v-for="menu,idx in modalMenus">
            <span @click="delMenu(idx)" class="badge danger">X</span>
            <span>{{ menu }}</span>
          </p>
          <hr>
          <div class="input-group">
            <label class="input-addon" for="materialText">材料</label>
            <input type="text" v-model="materialText" id="materialText" class="input input-text"/>
            <button @click="addMaterial" class="btn">追加</button>
          </div>
          <p v-for="material,idx in modalMaterials">
            <span @click="delMaterial(idx)" class="badge danger">X</span>
            <span>{{ material }}</span>
          </p>
        </div>
        <div slot="footer">
          <hr>
          <button @click="closeModal" class="btn">閉じる</button>
        </div>
  		</modal>

      <div class="title">
        <h1>献立カレンダー</h1>
        <h2>{{ yyyymm }}</h2>
      </div>

      <div>
        <table class="calendar">
          <thead>
            <tr>
              <th class="week">週</th>
              <th class="day">日</th>
              <th class="day">月</th>
              <th class="day">火</th>
              <th class="day">水</th>
              <th class="day">木</th>
              <th class="day">金</th>
              <th class="day">土</th>
            </tr>
          </thead>
          <tbody>
            <tr><td class="week" @click="clickWeek(1)"><span class="badge warning">1</span></td><td class="day" v-for="item in weekItems(1)" :id="item.date" @click="select">{{ item.date.substr(6,2) }}</td></tr>
            <tr><td class="week" @click="clickWeek(2)"><span class="badge warning">2</span></td><td class="day" v-for="item in weekItems(2)" :id="item.date" @click="select">{{ item.date.substr(6,2) }}</td></tr>
            <tr><td class="week" @click="clickWeek(3)"><span class="badge warning">3</span></td><td class="day" v-for="item in weekItems(3)" :id="item.date" @click="select">{{ item.date.substr(6,2) }}</td></tr>
            <tr><td class="week" @click="clickWeek(4)"><span class="badge warning">4</span></td><td class="day" v-for="item in weekItems(4)" :id="item.date" @click="select">{{ item.date.substr(6,2) }}</td></tr>
            <tr><td class="week" @click="clickWeek(5)"><span class="badge warning">5</span></td><td class="day" v-for="item in weekItems(5)" :id="item.date" @click="select">{{ item.date.substr(6,2) }}</td></tr>
            <tr><td class="week" @click="clickWeek(6)"><span class="badge warning">6</span></td><td class="day" v-for="item in weekItems(6)" :id="item.date" @click="select">{{ item.date.substr(6,2) }}</td></tr>
          </tbody>
        </table>
        <div class="buttons">
          <button @click="prevBtnClick" class="btn">前月</button>
          <button @click="nextBtnClick" class="btn">次月</button>
        </div>
      </div>

      <div class="buttons">
        <button @click="editBtnClick" class="btn">編集</button>
        <button @click="copyBtnClick" class="btn">複製</button>
        <button @click="saveBtnClick" class="btn">保存</button>
        <p>{{ msg }}</p>
      </div>

      <div v-if="selectedDay" class="disp-area">
        <span>選択日</span>
        <span class="badge okay">{{ selectedDay }}</span>
        <div>
          <span>献立</span>
          <span v-for="menu in selectedMenus" class="badge okay">{{ menu }}</span>
        </div>
        <div>
          <span>材料</span>
          <span v-for="material in selectedMaterials" class="badge okay">{{ material }}</span>
        </div>
      </div>

      <div v-if="selectedWeek" class="disp-area">
        <span>選択週</span>
        <span class="badge warning">{{ selectedWeek }}</span>
        <div>
          <span>材料</span>
          <span v-for="week in materialWeek" class="badge warning">{{ week }}</span>
        </div>
      </div>

      <hr>
      <p>※保存を押すまで保存されないよ</p>
      <p>※今日の日付({{ toDay }})</p>

    </div>

  </body>
  <script src="javascripts/vue.min.js"></script>
  <script src="javascripts/axios.min.js"></script>
  <script src="javascripts/index.js"></script>
</html>
