<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <title>献立カレンダー</title>
  <link rel='stylesheet' href='/stylesheets/normalize.css' />
  <link rel='stylesheet' href='/stylesheets/login.css' />
  <link rel="apple-touch-icon" href="/favicon.ico" />
</head>
<body>
  <div class="login-bg">
    <div class="main">
      <form action="/login" method="post" class="login-form">
        <h1>献立カレンダー</h1>
        <input type="text" id="username" name="username" class="form-item" placeholder="kyama">
        <input type="password" id="userpass" name="userpass" class="form-item" placeholder="kyama">
        <button type="submit">ログイン</button>
        <p><%= msg %></p>
      </form>
    </div>
  </div>
</body>
</html>
